@import "reset.css"; /* Imports the reset.css */
body { 
	background: #FFFFFF;
	color: #666666;
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
}
/* Typography and default stuff */
@font-face {
	font-family: 'BebasRegular';
	src: url('../../fonts/BEBAS___-webfont.eot');
	src: local('BebasRegular'), url('../../fonts/BEBAS___-webfont.woff') format('woff'), url('../../fonts/BEBAS___-webfont.ttf') format('truetype'), url('../../fonts/BEBAS___-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

a { color: #0065A7; text-decoration: none; }

#top {display:none;}
#content section#header {display:none;}
#content section.full_width p.download {display:none;}
#content section.pageboxy.white.legal {display:none;}
footer {display:none;}

.directory {
	width: 99.1%;
	border: 1px solid #333;
}
.forum {width:100%;border: 1px solid #333;vertical-align:middle}

.directory th {cursor: pointer;}

.directory th, td {padding:5px;}

.directory tr {font-size:.9em;}

.even {background: #f0f0f0;}
.odd {background: #ffffff;}
