.block
  .block_head
    .bheadl
    .bheadr
    %h2 Edit Photo Album
    %ul
      %li.nobg
        = link_to 'Cancel', admin_albums_path
  .block_content
    = render "form"
    = render "pictures"
