Dear #{@user.name},

On behalf of the United Child Care Network, I would like to extend a warm welcome to you.  As a member of the UCCN, you will have full privileges to our website as well as other events and resources.

Your username is: #{@user.login}

Your password is: #{@user.password}.

Please take your time browsing our website at #{@url}.

If you have any suggestions, please let me know on the messageboard.

Thank you and welcome!

Stephen Wright
Webmaster, UCCN