!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome to the UCCN!
    %p Dear #{@user.name},
    %p 
      On behalf of the United Child Care Network, I would like to extend a warm welcome to you.  As a member of the UCCN, you will have full privileges to our website as well as other events and resources.
    %p Your username is: #{@user.login}
    %p Your password is: #{@user.password}.
    %p Please take your time browsing our website at #{@url}.
    %p If you have any suggestions, please let me know on the messageboard.
    %p Thank you and welcome!
    %p 
      Stephen Wright
      %br/
      Webmaster, UCCN
    