- content_for :title do
  UCCN Events for 
  =@full_date
  
%section#header
  %h1 
    Events for
    =@full_date
%section.pageboxy.white
  %section.full_width
    .elements
      - if @events.empty?
        .message.warning{:style => "display: block; "}
          %p No Events currently scheduled for today
      - else
        %ul
          - @events.each do |event| 
            %li
              = link_to event.name, calendar_event_detail_path(event.id)
              \- 
              = event.start_at.strftime("%-I:%M %p") unless event.all_day
              = "All Day" unless !event.all_day
      %p{:style => "margin-top:10px"}
        =link_to "Return to Calendar", calendar_path
  .clear