- content_for :title do
  UCCN Events for 
  =@full_date
  
%section#header
  %h1 
    Events for
    =@full_date
%section.pageboxy.white
  %section.full_width
    .elements
      - if @events.empty?
        .message.warning{:style => "display: block; "}
          %p No Events currently scheduled for today
      - else
        - @events.each do |event| 
          %p
            =event.name
      %p{:style => "margin-top:10px"}
        =link_to "Return to Calendar", calendar_path
  .clear