- content_for :title do
  UCCN Calendar
  
- content_for :head do
  =  stylesheet_link_tag "event_calendar"
  
%section#header
  %h1 Calendar of Events
%section.pageboxy.white
  %section.full_width
    .elements
      = raw(event_calendar)