- title("Choosing a Daycare Provider - UCCN")

- content_for :head do
  %style
    \.elements p {margin-bottom:10px;}
  
%section#header
  %h1 Parent's Corner - Choosing a Daycare Provider
%section.pageboxy.white
  %section.full_width
    .elements
      %p Welcome to Parent's Corner. The United Child Care Network has made a list of questions for you to ask while interviewing your child's daycare provider.
      %ul
        %li Are you licensed? What are the benefits of being a licensed daycare provider?
        %li How many years have you been providing daycare?
        %li What made you decide to go into this field?
        %li What kind of training have you had?
        %li Do you continue to take classes? (DCFS requires 15 hours each year)
        %li Do you have CPR/First Aid Training? (DCFS requires this class yearly)
        %li Is the facility required to submit to regular health, fire, and safety checks? How often?
        %li Is this a home? What part of your home do you use for daycare?
        %li Do you have a fenced in back yard?
        %li Do you have any pets?
        %li Is this a non-smoking environment?
        %li What are the ages of the other children in your daycare?
        %li Do you have children? What are there ages?
      %br/
      %h3 Tell me about what a day is like in your daycare:
      %ul
        %li Hours open?
        %li Schedule?
        %li Activities?
        %li Meal times? What types of foods?
        %li Do you participate in a food program?
        %li Bathroom time?
        %li Naptime?
        %li Where do you change the diapers? Do we provide diapers, wipe, ointments?
        %li What is the policy when a child is hurt or falls ill?
        %li How do you communicate with us if you need to? Text? Email? Phone?
        %li May we drop in unannounced?
        %li Will you be transporting our child?
        %li Do you go on field trips?
        %li Does your daycare have a contract or policy?
        %li Do you have a backup plan if you are sick?
        %li Do we still pay you if our child is absent, sick, or on vacation?
        %li Do we pay you for vacatons and/or holidays?
        %li Do you have an assistant?
        %li What is the infant or child ratio to the daycare provider?
        %li When do you expect payment?
      %br/
      %h2 Words of Wisdom
      %p Always follow your gut. You are given instincts. If it does not feel right, do not leave your child with this provider. Look around. Is it clean? Are the other children happy? Did you visit at least 3 different daycares?
      %p Make sure that you DO call the references. Do not be shy about calling. This is a very important decision. You will know if it feels right.