.block
  .block_head
    .bheadl
    .bheadr
    %h2 Send Email to Members
  .block_content
    - if !notice.nil?
      .message.success{:style=> 'display:block;'}
        %p= notice
    %p 
      Now, you can 
      =link_to "send another email", admin_email_path
      or 
      =link_to "view the administrator dashboard", admin_path