.block
  .block_head
    .bheadl
    .bheadr
    %h2 UCCN Website Administration
  .block_content
    %h2 Welcome, Administrator
    %p Here, you can update information on members, send members important information through email, and do lots of other "adminny" things.  
    %p
      If you have any questions or suggestions for improvement, please contact Steve at 
      =mail_to "steve@smwsoftware.com", "steve@smwsoftware.com"
