%section.slider
  .viewport
    .container
      .section#section-1
        %img{:src => "images/boxy_lg_blue/slider_01.png"}/
      .section#section-2
        %img{:src => "images/boxy_lg_blue/slider_01.png"}/
