-content_for :head do
  :javascript
    var sections = ["section-1", "section-2","section-3","section-4"];
    var currentSection = 1;
    function scroll () {
      currentSection++;
      if(currentSection > 4){currentSection = 1;}
      if(currentSection == 1){$("#slider").animate({backgroundColor: '#0065A7'});}
      if(currentSection == 2){$("#slider").animate({backgroundColor: '#A0BF4A'});}
      if(currentSection == 3){$("#slider").animate({backgroundColor: '#F28900'});}
      if(currentSection == 4){$("#slider").animate({backgroundColor: '#8C0003'});}
      sectiontoscroll = "section-" + currentSection;
      $("#viewport").scrollTo ("#" + sectiontoscroll, 500);
    }
    $(document).ready (function () {
      var s = window.setInterval(scroll, 8000);
      //window.clearInterval(s);
    });

%section#slider
  #viewport
    #container
      #section-1.section
        %p Supporting&nbsp;Home&nbsp;&nbsp;Daycare&nbsp;&nbsp;Providers&nbsp;&nbsp;in&nbsp;&nbsp;Chicagoland
        %img{:src => '/images/collaborate.png'}
      #section-2.section
        .left
          %img{:src => '/images/uccn_yoga_2011.png'}
        .right{:style => 'margin-top:150px'}
          %p Learning Together      
      #section-3.section
        .left
          %img{:src => '/images/uccn_mg_2006.png'}
        .right{:style => 'margin-top:150px'}
          %p Events and Conferences
      #section-4.section
        .left
          %img{:src => "/images/uccn_bws_2007.png"}
        .right{:style => 'margin-top:150px'}         
          %p Growing Friendships
          