- title("About the UCCN")

%section#header
  %h1 What is the United Child Care Network?
%section.pageboxy.white
  %section.full_width
    .elements
      %div{:style => 'float:left;margin-right:15px;'}
        =image_tag '../images/group1.png', :alt => 'UCCN'
      %p The United Child Care Network, Inc. (UCCN) was established in 1986 as a non-profit Family Child Care Association.   The UCCN serves DuPage County and the surrounding counties in Illinois.  Our organization’s purpose is to develop a more positive, professional, and supportive voice for Family Childcare.  It is our goal for parents, childcare providers, and other childcare advocates can come together through this website and work to develop and promote quality childcare throughout Illinois.
      %br/
      %p We welcome all new and returning providers, and hope to support you with any questions you might have about your business.  We hold quarterly meetings experienced providers depending on need.  Be sure to join us to stay on top of all news and developments.
      %br/
      %p 
        Click 
        =link_to "here", membership_path
        to become a UCNN member.        
  .clear