- content_for :title do
  About the UCCN

%section#header
  %h1 What is the United Child Care Network?
  %section.pageboxy.white
    %section.full_width
      .elements
        %p
          lorem ipsum
  .clear