- content_for(:title) do
  Welcome to the UCCN

- content_for(:head) do
  :javascript

    var sections = [
      "section-1", 
      "section-2",
      "section-3"
    ];
     
    var currentSection = 1;
		
    function scroll () {
      currentSection++;
      if(currentSection > 3){currentSection = 1;}
      if(currentSection == 1){$("#slider").animate({backgroundColor: '#0065A7'});}
      if(currentSection == 2){$("#slider").animate({backgroundColor: '#8C0003'});}
      if(currentSection == 3){$("#slider").animate({backgroundColor: '#A0BF4A'});}
      sectiontoscroll = "section-" + currentSection;
      $("#viewport").scrollTo ("#" + sectiontoscroll, 500);			
    }

    $(document).ready (function () {
      var s = window.setInterval(scroll, 6000);		
    });

%section#slider
  #viewport
    #container
      .section#section-1
        %img{:src => "images/boxy_lg_red/slider_01.png"}/
        %p Welcome! We hope you like cake
      .section#section-2
        .left
          %br
          %br
          %img{:src => "images/boxy_lg_red/slider_02.png"}/
        .right
          %br 
          %br 
          %br
          %br 
          %br
          %br
          %p - Provider Support
          %p - Information for Parents
          %p - And Cheesecake!
      .section#section-3
        %a{:href => "http://www.dunkindonuts.com"}
          %img{:src => "images/boxy_lg_red/slider_03.png"}/
        %p 
          For more Information 
          %br
          Click on the Doughnut
%section#intro
  %h1 What is the United Child Care Network?
  %p 
    We are a Family Child Care Association developed to promote a better awareness of child care within the home. We serve DuPage County &amp; the surrounding counties in Illinois.

%section.main
  .two_quarter.white
    %h2 For Parents
    .elements
      %h3 We provide information directly from the providers to the parents
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat porttitor libero, et rhoncus nisl fringilla vitae. Etiam molestie mi nec nibh porttitor non convallis risus aliquet. Maecenas non tellus ut mi auctor adipiscing. Proin ornare metus nunc. Duis lacinia lectus quis lorem posuere pharetra. Mauris ut nisl vel tellus ultrices varius et suscipit arcu. Mauris ultrices, erat in cursus tincidunt, enim arcu venenatis neque, at molestie purus nunc quis nisl. 
      %p Nam in orci sit amet nibh accumsan feugiat sit amet sit amet erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vitae lectus lacus, sit amet consectetur eros. Fusce sed dui non dolor dapibus commodo quis sed nisl. Proin vitae metus diam, ut egestas est. Ut egestas elementum ipsum, in pharetra mauris tincidunt et. Mauris id accumsan enim.
  .two_quarter.white
    %h2 For Providers
    .elements
      %h3 Interested?
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis volutpat porttitor libero, et rhoncus nisl fringilla vitae. Etiam molestie mi nec nibh porttitor non convallis risus aliquet. Maecenas non tellus ut mi auctor adipiscing. Proin ornare metus nunc. Duis lacinia lectus quis lorem posuere pharetra. Mauris ut nisl vel tellus ultrices varius et suscipit arcu. Mauris ultrices, erat in cursus tincidunt, enim arcu venenatis neque, at molestie purus nunc quis nisl. 
      %p Nam in orci sit amet nibh accumsan feugiat sit amet sit amet erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vitae lectus lacus, sit amet consectetur eros. Fusce sed dui non dolor dapibus commodo quis sed nisl. Proin vitae metus diam, ut egestas est. Ut egestas elementum ipsum, in pharetra mauris tincidunt et. Mauris id accumsan enim.
  .clear