- content_for :title do
  UCCN Goals
  
%section#header
  %h1 Goals
%section.pageboxy.white
  %section.full_width
    .elements
      %div{:style => 'float:right;margin-left:15px;'}
        =image_tag '../images/layout1.png', :alt => 'UCCN'
      %p 
        The United Child Care Network, Inc. will be active in the following areas:
        %ul{:style => 'padding-top:10px'}
          %li Promoting Quality Child Care
          %li Increasing Public Awareness
          %li Setting up and maintaining a support group
          %li Reaching out and reducing the isolation of Family Child Care Providers
          %li Assisting providers and associations with technical information
          %li Networking with local, state, and national Family Day Care groups to remain better informed of new developments within our profession
          %li Assisting parents in their search for quality Day Care
          %li Establish a working relationship with the Department of Children and Family Services, the Local Child Care Resource and Family Day Care Providers
      %br/
      %p 
        If you are interested in becoming a member, please 
        =link_to "join us!", join_path