- content_for :title do
  United Child Care Network

= render "slider"

%section#intro
  %h1 What is the UCCN?
  %p UCCN is a not-for-profit organization dedicated to developing a more positive, professional and supportive voice for Family Childcare.   For the past 25 years, we have been promoting a better awareness of childcare within the home.  Click here to learn more.
  =link_to "Learn more about the UCCN", about_path

%section.pageboxy.white
  .box.black.two_quarter
    .contents
      .title
        %h2 Welcome Providers
      .elements      
        %p Child care is an opportunity to bring kids together to play, learn, and grow from each other.  The United Child Care Network is an opportunity to bring together the hearts and minds of providers across Chicagoland to do the same: to play, support and learn from each other so we can all make our kids’ worlds a better place.
        %br/
        %p 
          Want to become a member of the UCCN?  It’s easy and we’d love to have you!  Just click the link 
          =link_to "here", membership_path
          and you’re on your way.
  .box.black.two_quarter
    .contents
      .title
        %h2 Welcome Parents
      .elements
        %p 
          If you are a parent looking for information on daycare for your kid(s), please view our 
          =link_to "daycare openings", openings_path
          or contact us for information on finding a daycare home that's right for you.
  .clear

- content_for :footer do
  %section.footertop
    .one_third.black
      .title
        %h2.boxed Upcoming Events
      .elements            
        =render 'upcoming_events', :locals => {:events => @events}
      .bottom
        =link_to "Go Here to See the Calendar", calendar_path
    .one_third.black
      .title
        %h2.boxed From the Blog
      .elements
        = render 'recent_posts', :locals => {:posts => @posts}
      .bottom
        =link_to "Go to the Blog", blog_path
    .one_third.black
      .title
        %h2.boxed Get in Touch
      .elements
        .citem
          %h3 Address
          %p 
            P.O. Box 130
            %br/
            Downers Grove, IL 60515
        .citem
          %h3 Phone
          %p (630) 343-9820
        %br/
      .bottom
        =link_to "Contact Us", contact_path            
  .clear
