%h1 Example Site Layouts
%h2 Member Layout
%ul
  %li
    = link_to "Boxy Light Blue", :action => "boxylightblue"
  %li
    = link_to "Boxy Light Red", :action => "boxylightred"
%h2 Administrative Layout
%ul
  %li
    = link_to "Administration Pages (only admins can view this, not normal members)", :controller => :admin, :action => :index

