- title("Join the UCCN")

%section#header
  %h1 Becoming a Member of the UCCN
%section.pageboxy.white
  %section.full_width
    .elements
      %div{:style => 'float:right;margin-left:15px;'}
        =image_tag '../images/table1.png', :alt => 'UCCN'
      %p 
        As a member of the UCCN, you'll not only be linked with the steadfast support of a childcare network, you'll also have access to additional resources, such as:
        %br/
        %br/
        %ul
          %li Upcoming field field trip opportunities
          %li Required training (first aid, CPR, etc.)
          %li Members only message board and conference information      
        %br/
      %p Becoming a member is easy!  Please download our application, fill it out with your information and mail it in.  It's that simple!
      %br/
      %h2=link_to "Download Your Member Application Here!", "../UCCNMembershipApplication.pdf"
      %br/
      %p Our membership cycle is from September to August. Membership rate is only $60.00 for 1 year. If you apply after March 1st, the membership fee is $30. Paid membership is required upon attending two complimentary meetings!
      %br/
      %p 
        If you have any additional questions, please feel free to 
        =link_to "contact us", contact_path