- content_for :title do
  UCCN Resources

%section#header
  %h1 UCCN Resources
  %p
    A Placeholder for more information to describe the resources

%section.pages
  %aside.one_quarter
    %h2 Available Resources    
    %ul
      %li= link_to 'Associations', resources_associations_path
      %li= link_to 'Food Programs', resources_foodprograms_path
      %li= link_to 'Referrals', resources_referrals_path
  %section.three_quarter
    %h1 Resources
    %p The UCCN has a number of resources to support you as a childcare provider and as a parent.  Click on each to learn more.
    %br/
    %ul
    %li Family childcare associations throughout IL
    %li Food programs
    %li Non-profit resource & referral agencies to help aid finding home child care
      
  .clear