- content_for :title do
  Referral Information - UCCN

%section#header
  %h1 Referrals
%section.pages
  %aside.one_quarter
    %h2 Resources
    %ul
      %li= link_to 'Associations', resources_associations_path
      %li= link_to 'Food Programs', resources_foodprograms_path
      %li= link_to 'Referrals', resources_referrals_path
  %section.three_quarter
    %h1 Referrals
    %p{:style => 'font-size:.9em;padding-bottom:10px'}
      %em UCCN Inc., does not have personal knowledge regarding qualifications of these providers.  This list is for reference and is not providing preferential references to anyone.
    %h3
      Not for Profit Resource &amp; Referral Agencies
    %p
      %strong YWCA
      %br/
      739 Roosevelt Rd. #8-210
      %br/
      Glen Ellyn, Il. 60137
      %br/
      %a{:href => "http://www.ywcachicago.org/"} www.ywcachicago.org
      %br/
      %a{:href => "mailto:ywca.childcare@ywcachicago.org"} ywca.childcare@ywcachicago.org
      %br/
      630-790-3030 ex. 474
      %br/
      Fax # : 630-790-2748
      %br/
      %br/
      %strong Child Care Resource &amp; Referral
      %br/
      801 N. Larkin Avenue, Suite 202
      %br/
      Joliet, Il. 60435
      %br/
      %a{:href => "http://www.childcarehelp.com/"} www.childcarehelp.com
      %br/
      815-741-1163
      %br/
      %br/
      %strong Day Care Action Council
      %br/
      4753 N. Broadway, Ste. 1200
      %br/
      Chicago, Il. 60640
      %br/
      773-769-8000
      %br/
      Fax 773-561-2256
      %br/
      %a{:href => "http://www.daycareaction.org/"} www.daycareaction.org
      %br/
      %br/
      %strong Cook County Child Care Resource &amp; Referral
      %br/
      2745 N. Elston Ave., Ste. 300
      %br/
      Chicago, Il. 60647
      %br/
      773-769-8000
      %br/
      Fax 773-687-4092
      %br/
      Email
      %a{:href => "mailto:prb@cihha.org"} prb@cihha.org
    %hr/
    %h3{:style => 'padding-bottom:10px;'}
      For Profit Agencies
    %p
      %strong Connections Family Referral
      %br/
      Alora Foley
      %br/
      2408 Barkdoll Rd.
      %br/
      Naperville, Il. 60565
      %br/
      630-778-7916
      %br/
      %a{:href => "http://www.resourcebenefit.com/"} www.resourcebenefit.com
      %br/
      %br/
    %p
      %strong Creative Child Care Choices
      %br/
      Joyce Daniels
      %br/
      630-322-9161
      %br/
      Serving DuPage, Will &amp; Cook Counties
      %br/
      %a{:href => "http://www.creativechildcarechoices.com/"} www.creativechildcarechoices.com
      %br/
      %br/
    %p
      %strong LifeCare
      %br/
      %a{:href => "http://www.lifecare.com/"} www.lifecare.com
      %br/
      %br/
    %p
      %strong Child Care Parent Provider Information Network
      %br/
      %a{:href => "http://www.childcare-ppin.com/"} www.childcare-ppin.com
      %br/
      %br/
  .clear