- content_for :title do
  UCCN Photo Gallery
  
%section#header
  %h1 Photo Gallery
%section.pageboxy.white
  %section.full_width
    .elements
      - if @albums.nil?
        There are currently no albums to display
      - else
        %p{:style => 'margin-bottom:20px;text-align:right;font-style:italic'} Click on the Album title to view the pictures
        -@albums.each do |a|
          =render :partial => 'album', :locals => {:album => a}
  .clear
