- content_for :title do
  ="UCCN Photo Gallery - #{@album.name}"
  
%section#header
  %h1="Photo Gallery - #{@album.name}"
%section.pageboxy.white
  %section.full_width
    .elements
    -@album.pictures.each do |a|
      =image_tag @album.pictures.first.photo.url(:mid)
  .clear