- content_for :title do
  ="UCCN Photo Gallery - #{@album.name}"
  
%section#header
  %h1="Photo Gallery - #{@album.name}"
%section.pageboxy.white
  %section.full_width
    .elements
      %p{:style => 'margin-bottom:20px;text-align:right;'}=link_to "Return to Gallery List", gallery_path
      -@album.pictures.each do |a|
        = link_to image_tag(a.photo.url(:mid)), a.photo.url(:original)
  .clear