- content_for :title do
  UCCN Blog

%section#header
  %h1 
    UCCN Blog
    - if (!@category.nil?)
      =raw(" - ") + @category.name
  
%section.blog
  #posts
    - @posts.each do |post|
      %article
        .title
          %h1=link_to post.title, post.url
          %time{:datetime => post.published_at.strftime("%Y-%m-%d")}
            =post.published_at.strftime("""%d""")
            %br/
            %span=post.published_at.strftime("%b")
          .clear
        .elements
          = raw(post.body)
          %footer
            .metas
              Posted by 
              %strong=post.author
              - if (post.has_categories)
                in 
                =post.categories.collect { |c| c.name }.join(", ")
            .coms
              %a{:href => '#'} 20 Comments
    .clear
    = will_paginate @posts, :class => "prefnext", :per_page => 5, :previous_label => "Newer", :next_label => "Older"
  =render :partial => "blog_side", :locals => {:categories => @categories}
  .clear
