- content_for :title do
  UCCN Blog

%section#header
  %h1 
    UCCN Blog
    =raw(" - #{@category.name}") unless @category.nil?
  
%section.blog
  #posts
    - @posts.each do |post|
      %article
        .title
          %h1=link_to post.title, post.url
          %time{:datetime => post.published_at.strftime("%Y-%m-%d")}
            =post.published_at.strftime("""%d""")
            %br/
            %span=post.published_at.strftime("%b")
          .clear
        .elements
          = raw(post.body)
          %footer
            .metas
              Posted by 
              %strong=post.author
              - if (post.has_categories)
                in 
                =raw(post.categories.collect { |c| link_to c.name, blog_category_path(c.slug) }.join(", "))
            .coms
              &nbsp;
    .clear
    = will_paginate @posts, :class => "prefnext", :previous_label => "Newer", :next_label => "Older"
  =render :partial => "blog_side", :locals => {:categories => @categories}
  .clear
