- title("Search UCCN Blog")

%section#header
  %h1
    UCCN Blog - Search
  
%section.blog
  #posts
    =form_tag blog_search_path, :method => 'get'
      %p
        =text_field_tag :search, params[:search]
        =submit_tag "Search", :name => nil        
    - if @posts.empty? && !params[:search].empty?
      %article
        .message.warning
          No Posts were found for your search
    - elsif !@posts.empty?
      - @posts.each do |post|
        %article
          .title
            %h1=link_to post.title, post.url
            %time{:datetime => post.published_at.strftime("%Y-%m-%d")}
              =post.published_at.strftime("""%d""")
              %br/
              %span=post.published_at.strftime("%b")
            .clear
          .elements
            = raw(post.body)
            %footer
              .metas
                Posted by 
                %strong=post.author
                - if (post.has_categories)
                  in 
                  =raw(post.categories.collect { |c| link_to c.name, blog_category_path(c.slug) }.join(", "))
              .coms
                &nbsp;
    .clear
    = will_paginate @posts, :class => "prefnext", :previous_label => "Newer", :next_label => "Older"
  =render :partial => "blog_side", :locals => {:categories => @categories}
  .clear