.block.withsidebar
  .block_head
    .bheadl
    .bheadr
    %h2 
      Edit User -
      =@user.name
    %ul
      %li.nobg
        =link_to 'Cancel', admin_users_path, :confirm => 'Are you sure you want to cancel?'
  .block_content
    .sidebar
      %ul.sidemenu
        %li
          %a{:href => "#info"} Information
        %li
          %a{:href => "#password"} Change Password
        %li
          %a{:href => "#address"} Address &amp; Contact
        %li
          %a{:href => "#pref"} Preferences
        %li
          %a{:href => "#settings"} Website Settings
    #info.sidebar_content
      %h3 Information
      %hr/
      = render 'information'
    #password.sidebar_content
      %h3 Change User Password
      %hr/
      = render 'new_password'
    #address.sidebar_content
      %h3 Change User Address
      %hr/
    #pref.sidebar_content
      %h3 Change Preferences
      %hr/
    #settings.sidebar_content
      %h3 Change Website Settings
      %hr/
      = render 'website_settings'   
    .bheadl
    .bheadr