.block.withsidebar
  .block_head
    .bheadl
    .bheadr
    %h2 Edit User    
    %ul
      %li.nobg
        =link_to 'Cancel', admin_users_path, :confirm => 'Are you sure you want to cancel?'
  .block_content
    .sidebar
      %ul.sidemenu
        %li.active
          %a{:href => "#sb1"} Information
        %li
          %a{:href => "#sb2"} Change Password
        %li
          %a{:href => "#sb3"} Address &amp; Contact
        %li
          %a{:href => "#sb4"} Preferences
        %li
          %a{:href => "#sb5"} Website Information
      %p
        <strong>Information here?</strong>
    #sb1.sidebar_content{:style => "display: block; "}
      <h3>Information</h3>
    #sb2.sidebar_content{:style => "display: none; "}
      <h3>Change User Password</h3>
    #sb3.sidebar_content{:style => "display: none; "}
      <h3>Change User Address</h3>
    #sb4.sidebar_content{:style => "display: none; "}
      <h3>Change Preferences</h3>
    #sb5.sidebar_content{:style => "display: none; "}
      <h3>Change Website Information</h3>    
    .bheadl
    .bheadr