.block
  .block_head
    .bheadl
    .bheadr
    %h2 Users
    %ul
      %li.nobg
        = link_to 'Add New User', new_admin_user_path
  .block_content
    - if @users.empty?
      .message.warning{:style => "display: block; "}
        %p No Users currently in the system
    - else
      %table.sortable{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th.header{:style => "cursor: pointer; "} Login
            %th.header{:style => "cursor: pointer; "} Name
            %th.header{:style => "cursor: pointer; "} Email
            %th.header{:style => "cursor: pointer; "} Last Login
            %th.header{:style => "cursor: pointer; "} Active?
            %td  
        %tbody
          - @users.each do |user| 
            %tr{ :class => cycle('even', 'odd') }
              %td {user.login}
              %td {user.display_name}
              %td {user.email_address}
              %td {user.last_login_date}
              %td EDIT | DELETE                   