.block
  .block_head
    .bheadl
    .bheadr
    %h2 Event Categories
    %ul
      %li.nobg        
        = link_to image_tag('/images/add.png', :alt => 'Add', :style=>'vertical-align: text-bottom') + ' Add New Event Category', new_admin_event_category_path, :style => 'line-height:5em'
  .block_content
    %p 
      %em Click the event category to edit it's information. NOTE: A category cannot be deleted if it is still associated to any events
    - if @categories.empty?
      .message.warning{:style => "display: block; "}
        %p No Event Categories currently in the system
    - else
      - if !notice.nil?
        .message.success{:style=> 'display:block;'}
          %p 
            = notice
      %table.sortable{:cellpadding => "0", :cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th.header{:style => "cursor: pointer;"} Name            
            %td.header{:style => "width:72px;text-align:center"} Delete
        %tbody
          - @categories.each do |cat| 
            %tr{ :class => cycle('even', 'odd') }
              %td  
                =link_to cat.name, edit_admin_event_category_path(cat)
              %td{:style => 'text-align:center'}
                = link_to_if cat.events.nil?, image_tag('/images/delete.png', :alt=>'Delete'), admin_event_category_path(cat), :confirm => "Are you sure you want to delete this event category?\n\nWARNING: THIS CANNOT BE UNDONE!!!!", :method => :delete
