%h1
  = link_to 'Edit UCCN Profile', profile_path

%p.user            
  = link_to "Return to Website", :root     
  |   
  = link_to 'View Members Area', :user_root
  |
  = link_to 'Logout', logout_path