.title
  %h2 Forum Activity
- if @comments.empty?
  %p No Forum Posts
- else
  %ul
    - @comments.each do |c|
      %li
        %strong=link_to c.conversation.title, members_forum_post_path(c.conversation.id)
        %br/
        by 
        %strong=c.user.name
        on 
        =c.updated_at.strftime("%-m/%-e/%Y %-l:%M %p")
%br/
=link_to "View Forums", members_forum_path