.title
  %h2 Upcoming Birthdays
- if @birthdays.empty?
  %p No Upcoming Birthdays
- else
  %ul
    - @birthdays.each do |user|
      %li
        =user.name
        \-
        =user.date_of_birth.strftime("%B %-d")