.title
  %h2 Events
- if @events.empty?
  %p No Upcoming Events Scheduled
- else
  %ul
    - @events.each do |e|
      %li
        =link_to e.name, calendar_event_detail_path(e.id)
%br/
= link_to "View Calendar", calendar_path