- content_for :title do
  Advisory Board - UCCN
  
%section#header
  %h1 UCCN Leadership

%section.pages
  %aside.one_quarter
    %h2 View
    %ul
      %li= link_to 'UCCN Officers', members_officers_path
      %li= link_to 'Board of Directors', members_board_path
      %li= link_to 'Advisory Board', members_advisory_path
  %section.three_quarter
    %h1 Advisory Board
    %table
      %tbody
        %tr
          %td{:width => "191"}
            %p
              =mail_to "dandbmoser@aol.com",  "Barbara Moser CPA"
              %br/
              =mail_to "clheier@aol.com", "Connie Heier"
              %br/
              Tax Consultants
          %td
            %p
              2443 Warrenville Road
              %br/
              Suite 600
              %br/
              Lisle, IL 60532
          %td
            %p
              (630) 322-9050
        %tr
          %td{:width => "191"}
            %p
              =mail_to "tnotter@childcarehelp.com", "Tammy Notter"
              %br/
              Early Childhood Specialist
          %td
            %p
              Will County Resource Center and Referral
              %br/
              801 Larkin Ave.
              %br/
              Suite 202
              %br/
              Joliet, IL 60535
          %td
            %p
              Work - (815) 741-1163 x226
              %br/
              Home - (630) 783-9551
        %tr
          %td
            %p
              Gregory Binder, CPA
            %p
              UCCN Tax Accountant
          %td
            %p
              1901 Concord Drive
            %p
              Downers Grove, IL 60516
          %td
            %p
              Phone: (630) 971-8329
            %p
              =mail_to "GBBinder@comcast.net"
  .clear
