- title("UCCN Members Area")

%section#header
  %h1 UCCN Members Area
%section.pageboxy.white
  %section
    .elements
      %h1 Welcome to the UCCN Members Area
      %p.big You can find information on upcoming field trips, interact with other members or just browse documents available for you to download.
      
    %br/
    .box.white.one_quarter
      .contents
        .title
          %h2 Forum Activity
        %p Post Listings
    .box.white.one_quarter
      .contents
        = render "upcoming_birthdays", :locals => {:birthdays => @birthdays}
    .box.white.one_quarter
      .contents
        .title
          %h2 Newest Members
        %h3 Welcome new members
    .box.white.one_quarter
      .contents 
        = render "upcoming_events", :locals => {:events => @events}
    .clear
    %br/
    .elements
      %h2 Here's some more information for you
    