- content_for :title do
  UCCN Officers
  
%section#header
  %h1 UCCN Leadership

%section.pages
  %aside.one_quarter
    %h2 View
    %ul
      %li= link_to 'UCCN Officers', members_officers_path
      %li= link_to 'Board of Directors', members_board_path
      %li= link_to 'Advisory Board', members_advisory_path
  %section.three_quarter
    %h1 UCCN Officers
    %table{:style => "width:100%"}
      %tbody
        %tr
          %td
            %strong President
          %td
            %a{:href => "mailto:irishpeg@comcast.net"} Peg Pierce
          %td
            (630) 768-1587
        %tr
          %td
            %strong Vice President
          %td
            %a{:href => "mailto:janshomedaycare@ameritech.net"} Janet Barnett
          %td
            (630) 852-3061
        %tr
          %td
            %strong Secretary
          %td
            %a{:href => "mailto:l.kroeger6@sbcglobal.nett"} Leah Kroger
          %td
            (630) 850-9402
        %tr
          %td
            %strong Membership Secretary
          %td
            %a{:href => "mailto:barb@stickmansfootball.com"} Barb Peterson
          %td
            (630) 851-4879
        %tr
          %td
            %strong Treasurer
          %td
            %a{:href => "mailto:mbakshis@comcast.net"} Maureen Bakshis
          %td
            (630) 271-1434
        %tr
          %td
            %strong Website
          %td
            %a{:href => "mailto:lindakovacik@yahoo.com"} Linda Bodem
          %td
            (630) 985-5021
  .clear
  
