- title ("Meet the Member - #{@user.name}")

%section#header
  %h1="Meet the Members - #{@user.name}"    
%section.main
  %section.full_width
    .profile
      .image{:style => 'float:right;padding:0px 15px'}
        =image_tag @user.photo.url unless !@user.photo?
        =image_tag '../images/anon_big.png' unless @user.photo?
      =raw(@user.biography)
    %p{:style => 'text-align:right;margin:15px;'}=link_to "Return to Meet the Members", members_profiles_path

    