- title("Thank you for your Membership Request")
  
%section#header
  %h1 Request for Membership
%section.pageboxy.white
  %section.full_width
    .elements
      %p Thank You! Your application request has been successfully submitted. It will be processed quickly. Someone from the UCCN will be contacting you regarding your application.