- title("View Membership Request")
  
%section#header
  %h1 Membership Request
%section.pageboxy.white
  %section.full_width
    #membership.elements
      =link_to_if current_user.admin?, "Return to Membership List", view_memberships_path
      =render "form"
      
:javascript
  $(document).ready(function() {
     $('#membership :input').attr('disabled', true);
     $("#membership :submit").hide();
  });
